<div class="staticTabs">



    <tabset #staticTabs>
      <tab heading="Pasts Sprint">

           <div class="form-light">
              <input type="text" class="form-control" placeholder="Filter by length, status, date or description">
            </div>

          <table class="table table-hover" id="bootstrap-table">
              <thead>
                <tr>
                  <th scope="col">Length</th>
                  <th scope="col">Status</th>
                  <th scope="col">Date</th>
                  <th scope="col">Start</th>
                  <th scope="col">Finish</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>no data</td>
                  <td>no data</td>
                  <td>no data</td>
                  <td>no data</td>
                  <td>no data</td>
                  <td>no data</td>
                </tr>

              </tbody>
            </table>

            <div class="pull-left">
                <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize"></pagination>
            </div>

      </tab>
      <tab heading="New Sprint">
          <section class="form-light">

              <!--Form without header-->
              <div class="card">

                  <div class="card-body mx-4">

                      <!--Header-->
                      <div class="text-center">
                          <h3 class="pink-text mb-5"><strong>Start a Sprint</strong></h3>
                      </div>

                      <!--Body-->
                      <div class="md-form">
                          <select class="form-control" id="exampleFormControlSelect1" >
                              <option>Choose a length*</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          <small id="emailHelp" class="form-text text-muted">.</small>
                      </div>

                      <div class="md-form pb-3">
                          <input type="text" class="form-control" placeholder="Description">
                          <small id="emailHelp" class="form-text text-muted">What will you be doing</small>
                          <div class="form-check my-4">
                            <input class="form-check-input" type="checkbox" id="defaultCheck12">
                            <label for="defaultCheck12" class="grey-text">Notification disabled by browser</label>
                          </div>
                      </div>

                      <!--Grid row-->
                      <div class="row d-flex align-items-center mb-4">

                          <!--Grid column-->
                          <div class="col-md-3 col-md-6 text-center">
                              <button type="button" class="btn btn-primary btn-block btn-rounded z-depth-1">Start</button>
                          </div>
                          <!--Grid column-->



                      </div>
                      <!--Grid row-->
                  </div>



              </div>
              <!--/Form without header-->

          </section>

      </tab>

    </tabset>
  </div>
  <!-- Classic tabs -->
