<div class="staticTabs">



    <tabset #staticTabs>
      <tab heading="Pasts Sprint">

           <div class="inputSearch">
              <input type="text" class="form-control" placeholder="Filter" [(ngModel)]="term">
            </div>

          <table class="table" >
              <thead>
                <tr>
                  <th >Length</th>
                  <th >Status</th>
                  <th >Date</th>
                  <th >Start</th>
                  <th >Finish</th>
                  <th >Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sp of theSprint | filtersprint:term">
                    <td >{{ sp.length }}</td>
                    <td >{{ sp.status }}</td>
                    <td >{{ sp.createdAt }}</td>
                    <td >{{ sp.startedAt }}</td>
                    <td >{{ sp.finishedAt }}</td>
                    <td >{{ sp.description}}</td>

                </tr>

              </tbody>
            </table>

            <div _ngcontent-c13 class="delete-user">
                <button type="submit" class="button-content" (click)="onDelete()">Delete all data</button>
              </div>

      </tab>
      <tab heading="New Sprint">
          <section class="form-light">

              <!--Form without header-->
              <form action="" (submit)="onAddPost(postForm)" #postForm="ngForm">

                  <div class="card-body mx-4">

                      <!--Header-->
                      <div class="text-center">
                          <h3 class="pink-text mb-5"><strong>Start a Sprint</strong></h3>
                      </div>

                      <!--Body-->
                      <div class="md-form">
                          <label class="grey-text">Choose a length*</label>
                          <select class="form-control" required  name ="length" [(ngModel)] ="selectedValue" required>
                              <option *ngFor="let sp of sprints" [value]="sp.value">{{ sp.viewValue }}</option>
                            </select>
                          <small id="emailHelp" class="form-text text-muted">✔</small>
                      </div>

                      <div class="md-form pb-3">
                          <label class="grey-text">Description</label>
                          <textarea class="form-control" ngModel #title="ngModel" name="description" required></textarea>
                          <small id="emailHelp" class="form-text text-muted">What will you be doing</small>
                          <div class="form-check my-4">
                            <input class="form-check-input" type="checkbox" id="defaultCheck12" name="defaultCheck12" ngModel>
                            <label for="defaultCheck12" class="grey-text">Notification</label>
                          </div>
                      </div>

                      <!--Grid row-->
                      <div class="row d-flex align-items-center mb-4">

                          <!--Grid column-->
                          <div class="col-md-3 col-md-6 text-center">
                              <button type="submit" class="btn btn-primary btn-block btn-rounded z-depth-1"[disabled]="!postForm.valid">Start</button>
                          </div>
                          <!--Grid column-->



                      </div>
                      <!--Grid row-->
                  </div>

              </form>
              <!--/Form without header-->

          </section>


      </tab>

    </tabset>

    <footer _ngcontent-c16><p>Logged in as  {{ username }} </p>
    </footer>
  </div>
  <!-- Classic tabs -->
